{{> head}}



{{> navbar}}

<div class="row">

<div class="col-8">
<h1>Este es un titulo</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, voluptas est. Architecto praesentium, voluptatem dolor consequuntur cupiditate voluptates recusandae excepturi sunt, quidem illo delectus exercitationem veritatis minima, ad odio ipsum.</p>
</div>

<div class="col-4">
<img src="assets/img/about.jpg" class="img-thumbnail">

</div>


    
{{> footer}}